@import url("scema.css");

main {
  max-width: 1200px;
  margin: auto;
  min-height: calc(100vh - (160px + 100px));
}

.cardContainer {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 90%;

  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-sizing: border-box;

  .cardImage {
    width: 100%;
    height: 300px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .cardImage1 {
    background: url(/images/cardImages/card1.jpeg) bottom left no-repeat;
  }

  .cardImage2 {
    background: url(/images/cardImages/card2.jpeg) center center no-repeat;
  }

  .cardImage3 {
    background: url(/images/cardImages/card3.jpeg) center center no-repeat;
  }

  .cardImage4 {
    background: url(/images/cardImages/card4.jpeg) center center no-repeat;
  }

  .cardImage5 {
    background: url(/images/cardImages/card5.jpeg) center center no-repeat;
  }

  .cardImage6 {
    background: url(/images/cardImages/card6.jpeg) center center no-repeat;
  }

  .cardMain {
    width: 100%;
    height: 250px;
    padding: 10px 10px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    h2 {
      font-size: 28px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      color: var(--Solid-Heading);
      text-transform: uppercase;
      position: absolute;
      top: 10px;
    }

    p {
      font-size: 18px;
      font-family: "Poppins", sans-serif;
      font-weight: 300;
      color: var(--Solid-Heading);
      margin-bottom: 10px;
    }

    .stackItems {
      font-size: 16px;

      span {
        font-weight: 400;
      }
    }
  }

  .cardFooter {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;

    .linkItem {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;

      a {
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        color: #000;
      }
    }
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 200px auto;
  display: none;
}

.showLoader {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px) {
  .cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .cardContainer {
    gap: 10px;
  }
  .card {
    width: 49%;
  }
}
